@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
 margin: 0;
 padding: 0;  
 
}

/* #fluid {
 background-image:url("img/grapes\ 22\ .jpg"); 
 background-repeat: no-repeat;
 background-size:cover;
 background-position:center;
 height: 700px; 
 z-index: 2;
} */

.row-fluid2{
 height: 800px; 
 margin: auto;
}

.logo-text{
  font-family:'Great Vibes', sans-serif;
  color: white!important;
  letter-spacing: 2px;
  font-size: 40px!important;
  text-decoration: none;
}



.bg {
   color: rgb(20, 4, 4)!important;   
}

.text-color {
color: rgb(32, 5, 5)!important;
}

.main-text {
  margin-top: 10%!important;
  width: 43%;
  text-align: center;
  justify-content: center;
  
  margin: auto;
  
 }

.main-text h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main-text h4 {
  width: 80%;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  margin-left: 5%;
}

.font { 
font-family:'Great Vibes', sans-serif;
letter-spacing: 2px;
font-size: 700%;
}

.font2 { 
  font-family:'Great Vibes', sans-serif;
  letter-spacing: 2px;
  font-size: 400%;
  }

.about-font {
  font-size: 80%;
}

.nav-bg{
  background: white!important;
}

.overlay{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 background: rgba(239, 255, 239, 0.7); 
 mix-blend-mode: overlay;
}

.about-text {
  margin-top: 5%!important;
  width: 90%;
  text-align: center;
  justify-content: center;
  z-index: 10;
   margin: auto;
   
 }
 .why-text {
  margin-top: 3%!important;
  width: 90%;
  text-align: center;
  justify-content: center;
  z-index: 10;
   margin: auto;
   color: white;
   
 }

 .intro {
  width: 70%!important;
  text-align: center;
  justify-content: center;
  margin: auto;
  font-size: 130%;
 }

 .about-text h1 {
  font-family: sans-serif;
   text-align: center;
   justify-content: center;
   text-transform:uppercase;
 }

 .why-text h1 {
  font-family: sans-serif;
   text-align: center;
   justify-content: center;
   text-transform:uppercase;
  
 }

 .cards_ {
   text-align: center;
   justify-content: center;
   
   
 }  

.small {
  width: 85%;
  margin: auto;
  text-align: center;
}

.card {
  box-shadow: 0px 5px 7px 5px rgba(173, 169, 169, 0.5);
  
} 

div .icons ul li  {
  margin: 4%;
  padding: 10px 

}

.icons ul li i {
  color: rgb(211, 202, 202);
  justify-content: center;
  text-align: center;
}

.icons ul li {
  list-style: none;
  display: inline-block;    
}

.icons ul li i:hover {
 color: white;
}

.icon-line {
 background:#804158!important;
 color: white!important;

}

.vision-text {
 background: linear-gradient(to bottom, #F0EADC 0%, #BEC5C1 100%); 
}

.no-padding {
  padding-right:0!important;
  padding-left:0!important;
}

/* ---- products--css----- */
.hold-img {
  padding: 7px;
  width: 90%;
  margin: auto;
  height: 100%;
  align-items: center;
  position: relative;
  background: rgba(156, 37, 37, 0.096);
  
}

.hold-img:hover {
  box-shadow: 3px 5px 7px 3px rgba(179, 93, 133, 0.979);
  transition: box-shadow .3s;
}

.pro-text{
  font-family:'Great Vibes', sans-serif;
  color: rgb(77, 73, 73)!important;
  letter-spacing: 2px;
  font-size: 30px!important;
  text-decoration: none;
  text-align: center;
}

.box {
  min-height:50vh;
  width: 35%!important;
  background: #517559;
  display:flex;
  margin-left: -600px;
  padding: 50px;
}